/* Slideshow container */
.slideshow-container {
  margin-top: 50px;
  width: 600px;
}

/* Hide the images by default */
.carousel-content {
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.carousel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  padding: 10px;
  margin: 0 8px 0 8px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(99, 99, 99, 0.8);
}
